@(applications : Seq[connectedApplication], name:String)(implicit request: RequestHeader)

@base(name) {
  
    <main class="main-content">       
          <div class="container">
            <header class="center">              
              <h2>@name</h2>
              <hr>              
            </header>  
  
            <div class="row gap-y">
              <!-- Application category loop -->
              @for(application <- applications){                 
            <div class="col-md-7">
              <img class="img" src="@{routes.Assets.versioned("img/"+application.image)}" alt="@application.name">
              <div class="app-name"><a href="@{routes.HomeController.appDetail(name,application.name)}"><h5>@application.name</h5></a></div>
            </div>

                <div class="col-md-3">
                  <div class="app-content">
                    Rating:
                      @for( value <- 1 to application.rating ){
                        <span class="star-style">&starf;</span>                                         
                      }                                                
                            <br/>                         
                      <small>Size: @application.size mb</small>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="app-content">
                    <a class="btn btn-primary btn-position" href="@{routes.HomeController.subscription(application.name)}">Subscription</a>
                </div>
              </div>
            }
            </div>
          </div>      
          <div class="footer-gap"></div>
      </main>
}        