@()(implicit request: RequestHeader)
@import helper._

    <nav class="navbar navbar-expand-lg navbar-light myHeader" id="nav_position">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-10">
            <div class="navbar-left mr-4">
            <button class="navbar-toggler" type="button">&#9776;</button>
            <a class="apperance" href="@routes.HomeController.index">
             Connected app store       
            </a>
          </div>
        </div>      
          <div class="col-md-2">
                  <form method="POST" action="@routes.HomeController.searchList">
                      @CSRF.formField
                      <div class="input-group">
                          <div class="input-group-prepend">
                      @*<span id="View-look-span" class="input-group-addon"></span>*@
                      </div> 
                      <input type="search" class="form-control" name="search" id="View-look" placeholder="search">
                      </div>    
                  </form>
          </div>             
            </div>
        </div>
      </nav>

