@(categories : Seq[Category], applications : Seq[String])(implicit request: RequestHeader)

@main("Connected app store",categories) {
  
   
    <main class="main-content">
          
          <div class="container">
            <header class="center">              
              <h2>Applications</h2>
              <hr>              
            </header>
            <div class="row gap-y">
              <!-- Application category loop -->
              @for(application <- applications){                  
              <div class="col-md-6 col-lg-3">                
                <a class="card text-white text-center py-6" id="category-card" href="@{routes.HomeController.appDetail(application)}">
                  <div class="position-relative">                    
                    <h5 class="mb-0">@application</h5>                    
                  </div>
                </a>
              </div>
            }
            </div>
          </div>     
          <div class="footer-gap"></div>   
      </main>
  
}
