@(name:String)(implicit request: RequestHeader)

@base(name) {
  
    <main class="main-content">       
          <div class="container">
            <header class="center">              
              <h2>Success</h2>
              <hr>              
            </header>  
  
            <div class="row gap-y">

                <div class="col-md-12">
                    <h2><p align="center"><small>Depending on the activation type we will notify you soon.</small></p></h2>
                </div>

            </div>
          </div>      
          <div class="footer-gap"></div>
      </main>
}        