@()(implicit request: RequestHeader)


@base("404 Page not found"){
    <main class="main-content">       
            <div class="container">
              <header class="center">              
                <h2>Search Result</h2>
                <hr>              
              </header>                              
                
                  <div class="text-position">              
                      <h1>404 Page not found</h1>                           
                  </div>
                
                <div class="footer-gap"></div>              
        </main>
}